<div class="row">
  <div class="col-sm">
    <h1>Editing Comment</h1>
  </div>
</div>

<%= render 'form', comment: @comment %>

<div class="row">
  <div class="col-sm">
    <% comment_links(@comment, [:show, :back]).map do |action| %>
        <%= action %>
    <% end %>
  </div>
</div>