<div class="row">
  <div class="col-sm">
    <h1>Editing Post</h1>
  </div>
</div>

<%= render 'form', post: @post %>

<div class="row">
  <div class="col-sm mb-3">
    <% post_links(@post, [:show, :back]).map do |action| %>
        <%= action %>
    <% end %>
  </div>
</div>
