<%= render 'table', posts: @posts, actions: [:show, :destroy] %>

<div class="row">
  <div class="col-sm mb-3">
    <% post_links(@post, current_user, :new).map do |action| %>
        <%= action %>
    <% end %>
  </div>
</div>
