<div class="row">
  <div class="col-sm">
    <h1>New Post</h1>
  </div>
</div>

<%= render 'form', post: @post %>

<div class="row">
  <div class="col-sm mb-3">
    <% post_links(@post, current_user, :back).map do |action| %>
        <%= action %>
    <% end %>
  </div>
</div>


