<div class="row">
  <div class="col-sm">
    <h1>Post</h1>
  </div>
</div>

<%= render 'post', post: @post, user: current_user %>

<div class="row">
  <div class="col-sm mb-3">
    <% comment_links(@comment, current_user, [:new, :back]).map do |action| %>
        <%= action %>
    <% end %>
  </div>
</div>